#browser {
  --tabs-tabbar-container-width: 330px;
  --tabs-tabbar-container-minwidth: 120px;
  --tabs-subcontainer-width: 180px;
}

#main .inner #tabs-tabbar-container:is(.left, .right) {
  /* To specify z-index, we use absolute. */
  position: absolute;
  z-index: 2;
  opacity: 1;
  background-color: var(--colorBg);
  height: 100% !important;
  width: var(--tabs-tabbar-container-width) !important;
}

#main .inner #tabs-subcontainer {
  position: relative;
  flex-basis: calc(100% - var(--tabs-subcontainer-width)) !important;
}

#main .inner #tabs-tabbar-container:is(.left, .right):not(:hover) {
  & {
    width: var(--tabs-tabbar-container-minwidth) !important;
    transition: width 0.25s !important;
  }

  #tabs-subcontainer {
    /* In common.css, the minwidth specified as 30px. */
    /* As the container shrinking, it folds down to favicons. */
    transition: width 0.25s !important;
    position: static;
  }
}

#browser:not(.fullscreen).tabs-left #webview-container {
  margin-left: var(--tabs-tabbar-container-minwidth);
}

#browser:not(.fullscreen).tabs-right #webview-container {
  margin-right: var(--tabs-tabbar-container-minwidth);
}
