{{- if not (contains "WSL" .chezmoi.kernel.osrelease) }}
{{-   if contains "Fedora" .chezmoi.osRelease.name }}
temp = "$HOME/Downloads/keymapper"
url = "https://github.com/houmain/keymapper/releases/download/4.4.5/keymapper-4.4.5-Linux.rpm"

if ! ls "$temp" &> /dev/null; then
  mkdir -p "$temp"
  curl -L -o "$temp/keymapper.rpm" "$url"
  sudo dnf install -y "$temp/keymapper.rpm"
  rm -r "$temp"
  sudo systemctl enable keymapperd
  sudo systemctl start keymapperd
fi

{{-   end }}
{{- end }}
