#!/bin/bash

{{- if eq .chezmoi.osRelease.id "fedora" }}

{{-   range .packages.fedora.dnf.repositories }}
sudo dnf copr enable {{ . | quote }} -y
{{-   end }}

{{-   range .packages.fedora.dnf.packages }}
sudo dnf install -y {{ . | quote }}
{{-   end }}

{{- end }}
