#!/bin/sh

{{ if eq .chezmoi.osRelease.id "artix" -}}
{{   range .artix.pacman.packages.cli -}}
sudo pacman -S --noconfirm {{ . | quote }}
{{   end -}}
{{   range .artix.pacman.packages.gui -}}
sudo pacman -S --noconfirm {{ . | quote }}
{{   end -}}
{{   range .artix.yay.packages.cli -}}
yes | yay -S {{ . | quote }}
{{   end -}}
{{   range .artix.yay.packages.gui -}}
yes | yay -S {{ . | quote }}
{{   end -}}
flatpak remote-add --if-not-exists flathub "https://dl.flathub.org/repo/flathub.flatpakrepo"
{{   range .fedora.flatpak.packages -}}
  yes | flatpak install flathub {{ . | quote }}
{{   end -}}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "fedora" -}}
{{   range .fedora.dnf.repositories -}}
sudo dnf copr enable -y {{ . | quote }}
{{   end -}}

{{   range .fedora.dnf.packages.cli -}}
sudo dnf install -y {{ . | quote }}
{{   end -}}

{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{     range .fedora.dnf.packages.gui -}}
  sudo dnf install -y {{ . | quote }}
{{     end -}}

  flatpak remote-add --if-not-exists flathub "https://dl.flathub.org/repo/flathub.flatpakrepo"
{{     range .fedora.flatpak.packages -}}
  flatpak install flathub {{ . | quote }}
{{     end -}}
{{   end -}}
{{ end -}}

