{{ range .windows.scoop.buckets -}}
scoop bucket add {{ . | quote }}
{{ end -}}
{{ range .windows.scoop.packages.cli -}}
scoop install {{ . | quote }}
{{ end -}}
{{ range .windows.scoop.packages.prog_langs -}}
scoop install {{ . | quote }}
{{ end -}}
{{ range .windows.scoop.packages.fonts -}}
scoop install {{ . | quote }}
{{ end -}}
{{ range .windows.scoop.packages.gui -}}
scoop install {{ . | quote }}
{{ end -}}
