sourceDir = "/home/{{ .chezmoi.username }}/.dotfiles"

[git]
autoAdd = true
autoCommit = true

{{ if eq .chezmoi.os "linux" -}}
[cd]
command = "fish"
{{ end -}}

{{ if eq .chezmoi.os "windows" -}}
[cd]
command = "pwsh"
args = [ "-NoLogo" ]

[interpreters.ps1]
command = "pwsh"
args = [ "-NoLogo", "-NoProfile" ]
{{ end -}}
