#
# $CHEZMOI_SOURCE/.chezmoiexternal.toml.tmpl
#
# Chezmoi Externals Docs:
# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiexternal-format/

{{ if eq .chezmoi.os "linux" -}}
[".local/share/fonts/IosevkaCapy"]
type = "archive"
url = "https://github.com/mrcapivaro/IosevkaCapy/releases/download/0.0.1/IosevkaCapy.tar.gz"
include=["IosevkaCapy/NF/*.ttf"]
stripComponents = 2
{{ end -}}

{{ if eq .chezmoi.os "windows" -}}
["scoop/shims"]
type = "archive"
url = "https://github.com/houmain/keymapper/releases/download/4.8.2/keymapper-4.8.2-win64.zip"
stripComponents = 1
{{ end -}}

