{{ if eq .chezmoi.os "linux" -}}
# [".local/share/fonts"]
# type = "archive"
# url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/JetBrainsMono.zip"
[".local/share/fonts"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/Hack.zip"
{{ end -}}
