[[ $- != *i* ]] && return

eval "$(starship init bash)"
eval "$(zoxide init bash)"
eval "$(direnv hook bash)"

alias ..="cd .."
alias ....="cd ../.."
alias cd="z"
alias ls="ls --color=auto"
alias vi="nvim"
alias vim="nvim"
alias clera="clear"
alias claer="clear"
alias cler="clear"
alias clar="clear"

# remove background color from ls
LS_COLORS=$LS_COLORS:'tw=00;33:ow=01;33:'
export LS_COLORS
# export PAGER="less -R"
# export LESS="--RAW-CONTROL-CHARS"
# export LESS_TERMCAP_mb=$(tput bold; tput setaf 2)
# export LESS_TERMCAP_md=$(tput bold; tput setaf 6)
# export LESS_TERMCAP_me=$(tput sgr0)
# export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 4)
# export LESS_TERMCAP_se=$(tput rmso; tput sgr0)
# export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 7)
# export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
# export LESS_TERMCAP_mr=$(tput rev)
# export LESS_TERMCAP_mh=$(tput dim)
# export LESS_TERMCAP_ZN=$(tput ssubm)
# export LESS_TERMCAP_ZV=$(tput rsubm)
# export LESS_TERMCAP_ZO=$(tput ssupm)
# export LESS_TERMCAP_ZW=$(tput rsupm)

function cheat() {
  curl cheat.sh/$@ | less
}

export EDITOR=nvim

# add .local/bin to path
export LOCAL_BIN="/home/mrcapivaro/.local/bin"
case ":$PATH:" in
  *":$LOCAL_BIN:"*) ;;
  *) export PATH="$LOCAL_BIN:$PATH" ;;
esac

# pnpm
export PNPM_HOME="/home/mrcapivaro/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
export BROWSER=wslview
alias explorer="/mnt/c/Windows/explorer.exe"
alias ii="/mnt/c/Windows/explorer.exe"
{{- end }}
