[[ $- != *i* ]] && return

eval "$(starship init bash)"
eval "$(zoxide init bash)"
eval "$(direnv hook bash)"

alias tmux="tmux -2"

alias cd="z"
alias ..="cd .."
alias ....="cd ../.."

alias ls="ls --color=auto -F"

alias vi="nvim"
alias vim="nvim"

alias clera="clear"
alias clare="clear"
alias claer="clear"
alias cler="clear"
alias clar="clear"

alias less="less -r"
# remove background color from ls
export LS_COLORS="$LS_COLORS:tw=00;33:ow=01;33"

function cheat() {
  curl cheat.sh/$@ | less
}

function gitall() {
  local message="${*:-update}"
  git add . && git commit -m "$message" && git push
}

export EDITOR=nvim
export PAGER=less

# add .local/bin to path
export LOCAL_BIN="/home/mrcapivaro/.local/bin"
case ":$PATH:" in
  *":$LOCAL_BIN:"*) ;;
  *) export PATH="$LOCAL_BIN:$PATH" ;;
esac

{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
export BROWSER=wslview
alias explorer="/mnt/c/Windows/explorer.exe"
alias ii="/mnt/c/Windows/explorer.exe"
# to ensure wslg, run wsl --update AFTER installing wsl distro
# https://github.com/microsoft/wslg/wiki/Diagnosing-%22cannot-open-display%22-type-issues-with-WSLg
export DISPLAY=:0
{{- end }}
