@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

* {
  border: none;
}

window#waybar.top_bar {
  background-color: alpha(@base, 1);
  border-bottom: solid alpha(@surface1, 1) 1;
}

#user {
  padding-left: 10;
}

#language {
  padding-left: 15;
}

#keyboard-state label.locked {
  color: @yellow;
}

#keyboard-state label {
  color: @subtext0;
}

#workspaces {
  margin-left: 10;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button {
  color: @text;
}

#submap {
  background-color: alpha(@surface1, 1);
  /* border-radius: 15; */
  padding-left: 15;
  padding-right: 15;
  margin-left: 20;
  margin-right: 20;
  margin-top: 5;
  margin-bottom: 5;
}

window#waybar.top_bar .modules-center {
  font-weight: bold;
  color: @mauve;
  padding-left: 20;
  padding-right: 20;
  margin-top: 5;
  margin-bottom: 5;
}

#custom-separator {
  color: @green;
}

#custom-separator_dot {
  color: @green;
}

#clock.time {
  color: @flamingo;
}

#clock.week {
  color: @sapphire;
}

#clock.month {
  color: @sapphire;
}

#clock.calendar {
  color: @mauve;
}

#bluetooth {
  padding-left: 15;
  padding-right: 15;
  margin-top: 5;
  margin-bottom: 5;
  color: @text;
}

#bluetooth.disabled {
  background-color: alpha(@surface0, 1);
  color: @subtext0;
}

#bluetooth.on {
  color: @blue;
}

#bluetooth.connected {
  color: @sapphire;
}

#network {
  /* background-color: alpha(@surface1, 1); */
  /* border-radius: 15; */
  /* margin: 0 0; */
}

#network.disabled {
  background-color: alpha(@surface0, 1);
  color: @subtext0;
}

#network.disconnected {
  color: @red;
}

#network.wifi {
  color: @teal;
}

#idle_inhibitor {
  margin: 0 10;
}

#idle_inhibitor.deactivated {
  color: @subtext0;
}

#custom-dunst.off {
  color: @subtext0;
}

#custom-airplane_mode {
  margin-right: 2;
}

#custom-airplane_mode.off {
  color: @subtext0;
}

#custom-night_mode {
  margin-right: 2;
}

#custom-night_mode.off {
  color: @subtext0;
}

#custom-dunst {
  margin-right: 2;
}

#custom-media {}

#custom-media.Paused {
  color: @subtext0;
}

#custom-recording {
  color: @red;
  margin-right: 4;
}

#custom-geo {
  color: @yellow;
  margin-right: 4;
}

#custom-logout_menu {
  color: @red;
  /* background-color: alpha(@surface1, 1); */
  /* border-radius: 15 0 0 15; */
  padding-left: 10;
  padding-right: 5;
  margin-top: 5;
  margin-bottom: 5;
}

#taskbar {
  /* margin-top: 10; */
  /* margin-right: 10; */
  /* margin-left: 10; */
}

#taskbar * {
  margin: 0 2;
  color: @text;
}

#taskbar button.active {
  background-color: alpha(@surface1, 1);
  /* border-radius: 10; */
}

button:hover {
  background-color: @mauve;
}

#tray {
  /* margin-bottom: 10; */
  /* margin-right: 10; */
  /* margin-left: 10; */
}

#tray>.needs-attention {
  background-color: alpha(@maroon, 1);
  /* border-radius: 10; */
}

#cpu {
  color: @sapphire;
}

#cpu.low {
  color: @rosewater;
}

#cpu.lower-medium {
  color: @yellow;
}

#cpu.medium {
  color: @peach;
}

#cpu.upper-medium {
  color: @maroon;
}

#cpu.high {
  color: @red;
}

#memory {
  color: @sapphire;
}

#memory.low {
  color: @rosewater;
}

#memory.lower-medium {
  color: @yellow;
}

#memory.medium {
  color: @peach;
}

#memory.upper-medium {
  color: @maroon;
}

#memory.high {
  color: @red;
}

#disk {
  color: @sapphire;
}

#disk.low {
  color: @rosewater;
}

#disk.lower-medium {
  color: @yellow;
}

#disk.medium {
  color: @peach;
}

#disk.upper-medium {
  color: @maroon;
}

#disk.high {
  color: @red;
}

#temperature {
  color: @green;
}

#temperature.critical {
  color: @red;
}

#battery {
  color: @teal;
}

#battery.low {
  color: @red;
}

#battery.lower-medium {
  color: @maroon;
}

#battery.medium {
  color: @peach;
}

#battery.upper-medium {
  color: @flamingo;
}

#battery.high {
  color: @rosewater;
}

#backlight {
  color: @overlay0;
}

#backlight.low {
  color: @overlay1;
}

#backlight.lower-medium {
  color: @overlay2;
}

#backlight.medium {
  color: @subtext0;
}

#backlight.upper-medium {
  color: @subtext1;
}

#backlight.high {
  color: @text;
}

#pulseaudio.bluetooth {
  color: @sapphire;
}

#pulseaudio.muted {
  color: @surface2;
}

#pulseaudio {
  color: @text;
}

#pulseaudio.low {
  color: @overlay0;
}

#pulseaudio.lower-medium {
  color: @overlay1;
}

#pulseaudio.medium {
  color: @overlay2;
}

#pulseaudio.upper-medium {
  color: @subtext0;
}

#pulseaudio.high {
  color: @subtext1;
}
