// ~/.config/zellij/layouts/default.kdl
// vim: commentstring=//\ %s


layout {
    tab_template name="fullscreen" {
        pane split_direction="vertical" {
            pane name="todo" size=70
            pane name="main"
        }
    }

    tab name="Main" {
        pane
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}
