* {
    background:     #282828FF;
    background-alt: #353535FF;
    foreground:     #D4BE98FF;
    selected:       #7C6F64FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
    border:         #D4BE98FF;
    purple:         #d3869bFF;
    blue:           #7daea3FF;
    aqua:           #89b482FF;
    orange:         #FE8019FF;
    red:            #FB4934FF;
    yellow:         #FABD2FFF;
    green:          #B8BB26FF;
    font:           "Ubuntu Nerd Font 14";
}
