local config = {}
local wezterm = require("wezterm")
local smart_splits = require("smart-splits")

{{- if eq .chezmoi.os "windows" }}
-- Windows Specific
config.default_prog = { "pwsh", "-NoLogo" }
config.integrated_title_button_style = "Windows"
config.window_decorations = "INTEGRATED_BUTTONS" .. "|" .. "RESIZE"
config.hide_tab_bar_if_only_one_tab = true
{{- end }}

-- Fonts
config.font = wezterm.font("JetBrainsMono Nerd Font Mono", { weight = "Bold" })
config.font_size = 12

-- Tabs and Window
config.color_scheme = "Catppuccin Mocha"
config.window_close_confirmation = "NeverPrompt"
config.window_background_opacity = 1.00
config.use_fancy_tab_bar = false
config.tab_bar_at_bottom = false
{{- if eq .chezmoi.os "linux" }}
config.window_decorations = "NONE"
config.hide_tab_bar_if_only_one_tab = true
{{- end }}
config.window_padding = {
  left = 3,
  right = 2,
  top = 2,
  bottom = 0,
}

-- Key Binds
config.leader = { key = "Space", mods = "CTRL", timeout_milliseconds = 500 }
config.keys = {
  { key = 'Space', mods = 'LEADER', action = wezterm.action.ActivateCommandPalette },
  {
    key = "|",
    mods = "LEADER|SHIFT",
    action = wezterm.action.SplitHorizontal({ domain = "CurrentPaneDomain" }),
  },
  {
    key = "_",
    mods = "LEADER|SHIFT",
    action = wezterm.action.SplitVertical({ domain = "CurrentPaneDomain" }),
  },
  {
    key = "x",
    mods = "LEADER",
    action = wezterm.action.CloseCurrentPane({ confirm = false }),
  },
  {
    key = "c",
    mods = "LEADER",
    action = wezterm.action.CloseCurrentTab({ confirm = false }),
  },
  {
    key = "n",
    mods = "LEADER",
    action = wezterm.action.SpawnTab "DefaultDomain" ,
  },
  smart_splits.split_nav("move", "h"),
  smart_splits.split_nav("move", "j"),
  smart_splits.split_nav("move", "k"),
  smart_splits.split_nav("move", "l"),
  smart_splits.split_nav("resize", "h"),
  smart_splits.split_nav("resize", "j"),
  smart_splits.split_nav("resize", "k"),
  smart_splits.split_nav("resize", "l"),
  { key = "o", mods = "CTRL", action = wezterm.action.SendString "clear\r" },
}

return config
