[Desktop Entry]
Type=Application
Exec=keymapper
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Keymapper
Name=Keymapper
Comment[en_US]=
Comment=
